# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# binaries
.idea/
cmake-build-*/
out/
build/
.vs/
bin-*/

# CMake files
CMakeCache.txt
CMakeFiles/
CPM_modules/
cmake/
cmake_install.cmake
core/CMakeFiles/
core/cmake_install.cmake
programs/planet/CMakeFiles/
programs/planet/cmake_install.cmake

# Makefiles and build directories
Makefile
_deps/
bin/

# Configuration files
imgui.ini
cpm-package-lock.cmake

# scripts
programs/planet/test.sh
